# MMIS 692: Production Planning

## Formulate LP model

#### Parameters of the LP model:
- $D_i$ is the demand (number of units required) for product $i$.
- $C_i$ is the cost (in dollars) for producing each unit of product $i$ *in-house*.
- $P_i$ is the price (in dollars) for purchasing each unit of product $i$.
- $m_i$ is the machining time (in minutes) required to produce each unit of product $i$.
- $a_i$ is the assembly time (in minutes) required to produce each unit of product $i$.
- $f_i$ is the finishing time (in minutes) required to produce each unit of product $i$.
- $T_m$ is the machining time available (in minutes)
- $T_a$ is the assembly time available (in minutes)
- $T_f$ is the finishing time available (in minutes)

#### Decision Variables (all variables non-negative):
- $X_i$ : for $i=1,2,...,5$: number of units of product $i$ produced.
- $Y_i$ : for $i=1,2,...,5$: number of units of product $i$ purchased.

#### Objective function:
- Minimize Cost = $\sum_{i=1}^5 \  (C_i X_i  +  P_i Y_i)$

#### Constraints:
- Demand: $X_i + Y_i \ge D_i$ for $i=1,2,..,5$
- Machining time: $\sum_{i=1}^5 \  m_i X_i  \le  T_m$
- Assembly time: $\sum_{i=1}^5 \  a_i X_i  \le  T_a$
- Finishing time: $\sum_{i=1}^5 \  f_i X_i  \le  T_f$

## Import libraries

We shall use the Python library *PuLP* (https://pypi.org/project/PuLP/) for creating and solving the LP model.

In [1]:
! pip install pulp # install if necessary
from pulp import * # for LP model
import pandas as pd # for data handling

Requirement already satisfied: pulp in /usr/local/python/3.12.1/lib/python3.12/site-packages (3.0.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python3 -m pip install --upgrade pip

## Get data

We shall extract *CSV* files from the *zip* file with data and read the data we need for this task into *pandas* dataframes:
- ***product***: with data from '*production_planning.product*'.csv'
- ***resource***: with data from '*production_planning.resource.csv*'

In [2]:
# ! unzip '/content/drive/MyDrive/Colab Notebooks/courses/MMIS692_Summer2021/data.MMIS692.Sample.zip'
product = pd.read_csv('task_data/production_planning.product.csv') # dataframe with product data
resource = pd.read_csv('task_data/production_planning.resource.csv') # dataframe with resource data
! rm *.csv # remove all data files to avoid clutter

In [3]:
product # display product data

        parameter    P1    P2    P3    P4    P5
0          demand  3000  5000  6000  8000  7000
1    cost_inhouse   113    99    63    53    63
2  cost_outsource   146   108    76    86    86
3    machine_time     4     1     2     4     4
4   assembly_time     4     1     1     4     2
5  finishing_time     3     1     2     3     3

In [4]:
resource # display resource data

         resource  available_hours  hourly_cost
0    machine_time             1186           60
1   assembly_time              920          300
2  finishing_time              946          180

## Get LP parameters
We shall read in parameter values for our LP model from  dataframes.

In [5]:
PRODUCTS = list(product)[1:] # list of products (all but first column header)
N = len(PRODUCTS) # number of products
D, C, P, m, a, f = product.values[:,1:].tolist() # parameter values

RESOURCES = resource.resource.tolist() # list of resources
Tm, Ta, Tf = (60*resource.available_hours).tolist() # parameter values
HOURLY_COST = resource.hourly_cost.tolist()

## Create LP model

In [6]:
LP_file = 'MMIS692_prodution_planning.lp' # name of LP model file
prob = LpProblem(LP_file, LpMinimize) # Create LP model object

### Define decision variables

In [7]:
X = [LpVariable(f'x_{i+1}',0) for i in range(N)] # quantities produced
Y = [LpVariable(f'y_{i+1}',0) for i in range(N)] # quantities purchased

### Specify objective function

In [8]:
prob += lpSum(C[i]*X[i] + P[i]*Y[i] for i in range(N)) # objective function

### Specify demand constraints

In [9]:
for i in range(N):
    prob += X[i] + Y[i] >= D[i] , 'Demand for '+ PRODUCTS[i] # demand for product i

### Add resource availability constraints

In [10]:
for r, t, q in zip(RESOURCES, [m, a, f], [Tm, Ta, Tf]): # for each resource
    prob += sum(t[i]*X[i] for i in range(N)) <= q, r +'_availability' # add resource availability constraint

### Save LP model

In [11]:
prob.writeLP(LP_file) # write model to LP file
print(open(LP_file).read()) # show LP model

\* MMIS692_prodution_planning.lp *\
Minimize
OBJ: 113 x_1 + 99 x_2 + 63 x_3 + 53 x_4 + 63 x_5 + 146 y_1 + 108 y_2 + 76 y_3
 + 86 y_4 + 86 y_5
Subject To
Demand_for_P1: x_1 + y_1 >= 3000
Demand_for_P2: x_2 + y_2 >= 5000
Demand_for_P3: x_3 + y_3 >= 6000
Demand_for_P4: x_4 + y_4 >= 8000
Demand_for_P5: x_5 + y_5 >= 7000
assembly_time_availability: 4 x_1 + x_2 + x_3 + 4 x_4 + 2 x_5 <= 55200
finishing_time_availability: 3 x_1 + x_2 + 2 x_3 + 3 x_4 + 3 x_5 <= 56760
machine_time_availability: 4 x_1 + x_2 + 2 x_3 + 4 x_4 + 4 x_5 <= 71160
End

## Solve LP model

In [12]:
prob.solve() # solve problem
status = LpStatus[prob.status] # optimal found?
print("Solution: ", status)

min_cost = value(prob.objective) # objective function value
print(f'Minimum cost = $ {min_cost:,.2f}') # show optimal cost

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /home/codespace/.python/current/lib/python3.12/site-packages/pulp/solverdir/cbc/linux/64/cbc /tmp/0ef4b5bf7e5b47afb907d3e7e819ad58-pulp.mps -timeMode elapsed -branch -printingOptions all -solution /tmp/0ef4b5bf7e5b47afb907d3e7e819ad58-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 13 COLUMNS
At line 49 RHS
At line 58 BOUNDS
At line 59 ENDATA
Problem MODEL has 8 rows, 10 columns and 25 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Presolve 8 (0) rows, 10 (0) columns and 25 (0) elements
0  Obj 0 Primal inf 29000 (5)
10  Obj 2206560
Optimal - objective value 2206560
Optimal objective 2206560 - 10 iterations time 0.002
Option for printingOptions changed from normal to all
Total time (CPU seconds):       0.00   (Wallclock seconds):       0.01

Solution:  Optimal
Minimum cost = $ 2,206,560.00

### Optimal decision variable values

In [13]:
# get optimal values for decision variables
X_opt = [x.varValue for x in X] # optimal quantities produced
Y_opt = [y.varValue for y in Y] # optimal quantities purchased

# Save and display optimal quantities in a dataframe
opt_qty = pd.DataFrame([X_opt, Y_opt], columns=PRODUCTS).round(2) # convert to dataframe
opt_qty.insert(0, 'Quantity', ['Produced', 'Purchased']) # add first column
opt_qty.to_csv("optimal_quantities.csv", index=False) # save results
print('Optimal quantities:')
opt_qty # display optimal quantities

Optimal quantities:

    Quantity      P1      P2      P3      P4      P5
0   Produced  1420.0  1560.0  6000.0  8000.0  4980.0
1  Purchased  1580.0  3440.0     0.0     0.0  2020.0

### Resources used

In [14]:
resource_use = [] # list with results
for r in RESOURCES: # for each resource
    name = f'{r}_availability' # availability constraint name
    c = prob.constraints[name] # details for constraint
    available = -c.constant # available minutes (RHS of the constraint)
    unused = c.slack # minutes not used
    used = available - unused # minutes used
    resource_use.append([r, used, available, unused]) # append results for resource
# convert results to dataframe
resource_use = pd.DataFrame(resource_use, columns = ['resource', 'used', 'available', 'unused'])
resource_use.to_csv('resource_use.csv', index=False) # sane results
resource_use # show results

         resource     used  available  unused
0    machine_time  71160.0      71160    -0.0
1   assembly_time  55200.0      55200    -0.0
2  finishing_time  56760.0      56760    -0.0

## Sensitivity analysis

In [15]:
max_price = [] # results with maximum cost per additional hour
for r, hc in zip(RESOURCES, HOURLY_COST): # for each resource and its hourly cost
    name = f'{r}_availability' # constraint name
    c = prob.constraints[name] # details for constraint
    shadow_price = -c.pi # cost savings per minute of resource
    savings = 60*shadow_price # cost savings per additional hour of resource
    price = hc + savings # maximum price for an additional hour of resource
    max_price.append([r, hc, savings, price])
# convert results to dataframe
max_price = pd.DataFrame(max_price, columns = ['resource', 'cost per hour', 'savings per hour', 'max price'])
max_price.to_csv('max_price.csv', index=False) # save results

output = pd.merge(resource.iloc[:, :2], max_price, on='resource')
output # show results

         resource  available_hours  cost per hour  savings per hour  max price
0    machine_time             1186             60              60.0      120.0
1   assembly_time              920            300             300.0      600.0
2  finishing_time              946            180             180.0      360.0